html
  head
    title User Registration 

    link(rel='stylesheet', href='/dist/build.msg-register.min.css')

  block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 User Registration 

      
        form(method='POST' action='/userregistration')
          div.form-group
            label(for='firstname') First Name:
            input#firstname.form-control(type='text', placeholder='First Name' name='firstname')
           div.form-group
            label(for='lastname') Last Name:
            input#lastname.form-control(type='text', placeholder='Last Name' name='lastname')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='phonenumber') PhoneNumber:
            input#phonenumber.form-control(type='number',placeholder='PhoneNumber' name='phonenumber')
          button.btn.btn-primary(type='submit') Register